<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MachineName" value="Wuzhuang"/>
    <add key="MachineGuid" value=""/>
    <add key="HeartBeat" value="30"/>
    <!--<add key="ServerDomain" value="nmgx.tk"/>-->
    <add key="ServerDomain" value="127.0.0.1"/>
    <add key="ServerPort" value="1520"/>
  </appSettings>
</configuration>