<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServerService" maxReceivedMessageSize="655360"
            messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ServerService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IServerService" contract="ServerService.IServerService"
          name="BasicHttpBinding_IServerService" />
    </client>
  </system.serviceModel>

</configuration>