<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientService" maxBufferSize="6553600"
                    maxReceivedMessageSize="6553600" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ClientService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientService" contract="ClientService.IClientService"
                name="BasicHttpBinding_IClientService" />
        </client>
    </system.serviceModel>
</configuration>