<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--机器名-->
    <add key="MachineName" value="DouBi"/>
    <!--机器名识别码-->
    <add key="MachineGuid" value=""/>
    <!--心跳 ms-->
    <add key="HeartBeat" value="30000"/>
    <!--服务器ip/域名-->
    <add key="ServiceDomain" value="127.0.0.1"/>
    <!--服务器端口-->
    <add key="ServicePort" value="1520"/>
  </appSettings>
</configuration>